
:root{
    --blue: rgb(174, 174, 247);
    --azure:rgb(229, 236, 236);
    --white:rgb(255, 255, 255);
    --green:rgb(30, 250, 78);
    --yellow:rgb(245, 245, 9);
    --red:rgb(253, 45, 45);
    
}
h1{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
#container{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(229, 236, 236);
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50% ,-50%);
    border: 5px solid rgb(41, 21, 95);
    border-radius: 2em;
    width: 280px;
    height: 300px;
    text-align: center;
    background-color:rgb(179, 179, 233);
}
#submitbtn{
    background-color:#1a53ff;
    color:var(--azure);
    width: 40%;
    height:10%;
    border-radius: 0.4rem;
    border: none;

}

.table{
    position :absolute;
    left:50%;
    top:60%;
    width: 64%;
    transform: translate(-50%);
    margin:0;
    background-color: var(--blue);
  
}
th{ 
  padding:1%;
width: 100%;

}

tr{
    display: flex;
    flex-direction: row;
    width:100%;
}
td{
width:100%;
}
tr>td>input{
    border: none;
    background-color:var(--white);
 color:blue;
 font-weight:bolder;
 font-size:15px;
 width:100%;
   height:3em;
   overflow: scroll;
   
}
.fa-customedit{
   color:var(--yellow);
   font-size: 1.4rem;
   margin-left: 1rem;
  
}
.fa-customsave{
    color:var(--green);
    font-size: 1.4rem;
    margin-left: 1rem;
}
.fa-customdel{
color: var(--red);
font-size: 1.4rem;
padding: 10px;
}
.btncontainer{
display:flex;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
background-color:var(--white);

}
td:nth-child(4){
    width: 40%;
}
th:nth-child(4){
    width: 40%;
}


@media (width<=480px){

    #container{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:rgb(229, 236, 236);
        position:absolute;
        top:30%;
        left:50%;
        transform: translate(-50% ,-50%);
        border: 5px solid rgb(41, 21, 95);
        border-radius: 2em;
        width: 80%;
        height: 300px;
        text-align: center;
        background-color:rgb(121, 121, 218);
    }
    input{
        font-size: 10px;
    }

    .fa-customedit{

        color:var(--yellow);
        font-size:1rem;
        margin-left: 0.5rem;
       
     }
     .fa-customsave{
         color: var(--green);
         font-size: 1rem;
         margin-left: 1rem;
     }
     .fa-customdel{
     color: var(--red);
     font-size: 1rem;
     padding: 10px;
     }
     tbody{
        position: relative;
        float: right;
        width: 100%;
     }
     td{
    
        display: flex;
        flex-direction: column;
        width: 99%;
        float: right;
        
     }
     td:nth-child(4){
        width: 99%;
    }

     }
     .table{
        position :absolute;
        left:50%;
        top:60%;
        width: 90%;
        transform: translate(-50%);
        margin:0;
        background-color: var(--blue);
      
    }
   
   
    
